@{
    ViewBag.Title = "Home Page";
}
<div class="jumbotron">
    @{ Html.RenderPartial("_TView");}
</div>

<main>
    <section class="row" aria-labelledby="WorldCup Cricket">
        <h1 id="title">ICC Men's Cricket World Cup</h1>
        <p class="lead">Official Cricket World Cup website - live matches, scores, news, highlights, commentary, rankings, videos and fixtures from the International Cricket Council.</p>
        <p><a href="https://www.cricketworldcup.com/" class="btn btn-primary btn-md">Learn more &raquo;</a></p>
    </section>

    <div class="row">
        <section class="col-md-4" aria-labelledby="Info">
            <h2 id="gettingStartedTitle">Info</h2>
            <p>
                The ICC Men’s Cricket World Cup 2023, to be hosted by India,
                will be the 13th edition of the 50-over World Cup. 
                India will be hosting the quadrennial tournament for the fourth time in its history,
                and the tournament is set to take place in 2023.
                </p>
<p><a class="btn btn-outline-dark" href="https://2022.t20worldcup.com/">Learn more &raquo;</a></p>
        </section>
        <section class="col-md-4" aria-labelledby="Format">
            <h2 id="librariesTitle">Format</h2>
            <p>Ten teams will contest for the coveted trophy. The tournament will follow a similar format to the 2019 edition in England and Wales, with a round-robin stage followed by the knockouts.</p>
            <p><a class="btn btn-outline-dark" href="https://2022.t20worldcup.com/">Learn more &raquo;</a></p>
        </section>
        <section class="col-md-4" aria-labelledby="History">
            <h2 id="hostingTitle">History</h2>
            <p>The 2023 ICC Men’s Cricket World Cup will be the 13th edition of the tournament. The tournament first took place in 1975 in England.</p>
            <p><a class="btn btn-outline-dark" href="https://2022.t20worldcup.com/">Learn more &raquo;</a></p>
        </section>
    </div>
</main>